NODE_ENV=development
PORT=3000

PGHOST=localhost
PGPORT=5432
PGUSER=<database-user>
PGPASSWORD=<database-password>
PGDATABASE=<development-database>
TEST_PGDATABASE=forumapi_test

ACCESS_TOKEN_KEY=<generate-a-random-secret>
REFRESH_TOKEN_KEY=<generate-a-different-random-secret>
ACCESS_TOKEN_AGE=1h
