node_modules
# package-lock.json
.idea
.env.*
.vscode*
!.env.example
config/database/test.json
config/database/production.json
coverage
*.pem
*.key
service-account*.json
.env
setup-gcp.sh
instruksi.md
dcp.md
